.myUpload-body{
    .room-item{
        margin: 30px;
        padding: 10px 20px 20px;
        border-bottom: solid #dddddd 1px;
        img{
            width: 80%;
            height: 160px;
        }
    }

    .fixed-button{
        position: absolute;
        top: 120px;
        right:40px;
    }
    
    .pagination{
        text-align: center;
        padding: 30px 0;
    }
}

