.upload-head{
    border: 1px solid rgb(235, 237, 240);
}
.upload-body{
    padding: 30px 30%;
    .map{
        height:300px;
        width:500px;
        background-color: rebeccapurple;
        margin-bottom: 27px;
    }
}


// try to hide baidu iframe
.tangram-suggestion{
    display: none;
}